{% extends 'base.html' %}

{% block title %}
    {{ profile_user.username }} Album's
{% endblock title %}

{% block content %}
    {% for album in albums %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{ album.name }}
                </h5>
                <a href="{% url 'album:album' profile_user.slug album.id %}" class="btn btn-primary">
                    {{ album.name }}
                </a>
            </div>
        </div>
    {% empty %}
        <p>
            There are no albums yet.
        </p>
    {% endfor %}
{% endblock content %}