{% extends 'base.html' %}

{% block title %}
    Profile {{ profile_user.username }}
{% endblock title %}

{% block content %}
    <h1>
        {{ profile_user.username }}
    </h1>

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a href="{% url 'album:albums' profile_user.slug %}" class="btn btn-primary">
                Albums
            </a>
        </li>
    </ul>
   
    {% if request.user.username == profile_user.username %}
    {% comment "" %}
    If the user is viewing their own profile show all images.
    {% endcomment %}
        {% for image in profile_user.photos.all %}
            <div class="card mb-4 text-center" style="width: 18rem;">
                <img src="{{ image.image.url }}" alt="{{ image.name }}" class="img-card-top">
                <div class="card-body">
                    <a href="{{ image.get_absolute_url }}" class="card-link">
                        {{ image.name }}
                    </a>
                    <p class="card-text">
                        Likes: {{ image.likes.count }}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
    {% comment "" %}
    If the user viewing the profile is not the profile owner
    only show public images.
    {% endcomment %}
        {% for image in public_images %}
            <div class="card mb-4 text-center" style="width:18rem;">
                <img src="{{ image.image.url }}" alt="{{ image.name }}" class="img-card-top">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ image.name }}
                    </h5>
                    <p class="card-text">
                        Likes: {{ image.likes.count }}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock content %}